---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
import Tools from '../components/Tools.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Sol · Computer Science Student" description="Computer Science Student from Luque, Paraguay.">
  <Hero />
  <Projects />
  <div class="max-w-screen-sm mx-auto px-4">
    <Tools />
    <Education />
  </div>
  <Contact />
</Layout>
