---
const year = new Date().getFullYear();
---

<footer class="bg-surface p-4">
  <div class="max-w-screen-sm mx-auto flex items-center justify-between">
    <p class="text-sm text-text-muted">© {year}</p>
    <p class="text-sm text-text-secondary"> Luque, Paraguay</p>
  </div>
  <p class="text-center text-xs text-text-muted mt-4">Hecho con <a href="https://astro.build" class="underline hover:text-text-secondary">Astro</a></p>
</footer>
